.contact {
  width: 100%;
  min-height: 88vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; /* Couleur de fond */
}

.container-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards par ligne */
  gap: 32px;
  justify-items: center;
  margin-bottom: 5vh;
  width: 100%;
  margin-top: 5vh;
}
.contact-info {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
  overflow: hidden;
  border: solid 1px #000000;
  border-radius: 10px;
  box-shadow: #000000 0px 0px 5px;
  transition: all 0.3s ease-in-out;
}

.contact-info h2 {
  margin-top: 0;
  padding: 15px;
  color: #000000;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Centré horizontalement */
  text-align: center;
  font-size: 1.5rem;
  background-color: #dfdfdf;

}

.contact-info p {
  color: #000000;
  font-size: 1.2rem;
  text-align: left; /* Aligne à gauche */
  width: 100%;
  padding: 15px; /* Ajoute un peu de padding pour l'espacement */
}

.contact-info li {
  width: 100%;
  margin: 0;
  text-align: left; /* Aligne à gauche */
  color: #000000;
  padding: 10px 15px; /* Ajoute un peu de padding pour l'espacement */
}

.container-form {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #000000;
  box-shadow: #000000 0px 0px 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
}
.container-form h2 {
  margin-top: 0;
  padding: 15px;
  color: #000000;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  background-color: #dfdfdf;
  justify-content: center; /* Ajoute cette ligne */
}
.container-form form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.container-form label {
  margin-bottom: 10px;
  font-weight: bold;
}
.container-form input,
.container-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.container-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 20px;
}
.container-form button:hover {
  background-color: #0056b3;
}

.container-form:hover {
  box-shadow: #000000 0px 0px 10px;
  transform: translateY(-6px) scale(1.03);
}

.contact-info:hover {
  box-shadow: #000000 0px 0px 10px;
  transform: translateY(-6px) scale(1.03);
}

@media (max-width: 900px) {
  .container-contact {
    grid-template-columns: 1fr;
  }
  .container-contact {
    width: 90%;
    margin: 0 auto;
  }
  .contact-info,
  .container-form {
    width: 90%;
    height: auto;
    margin-bottom: 20px; /* Ajoute un espacement entre les cartes */
  }
  .contact-info h2,
  .container-form h2 {
    font-size: 1.3rem; /* Réduit la taille du titre */
  }
  .contact-info p,
  .contact-info li {
    font-size: 1rem; /* Réduit la taille du texte */
  }
  .container-form input,
  .container-form textarea,
  .container-form button {
    font-size: 0.9rem; /* Réduit la taille du texte des champs de saisie */
  }
}
